@media(max-width: 1170px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item-title {
        grid-column: 1 / 3;
    }
    .grid-item-img {
        display: none;
    }
    .grid-item-left {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        margin-top: 50px;
    }
    .grid-item-right {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        margin-top: 50px;
    }
    .footer-top, .footer-bottom {
        flex-direction: column;
    }
    .footer-bottom {
        text-align: center;
        padding: 30px 0 26px 0;
    }
    .footer-bottom p {
        margin: 0 0 20px 0;
    }
}
@media(max-width: 1000px) {
    .bg-green-item {
        flex: 0 0 100%;
    }
    .bg-green-img {
        display: none;
    }
}
@media(max-width: 800px) {
    .logo {
        font-size: 22px;
    }
    .logo-image {
        width: 50px;
        height: 50px;
        background-size: cover;
        margin-right: 12px;
    }
    .banner {
        background-image: none;
        background-color: #66c05d;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 100px;
    }
    .banner p {
        margin: 0 auto 57px;
    }
    .grid-item-left {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        margin-top: 50px;
    }
    .grid-item-right {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
        margin-top: 50px;
    }
    .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-top {
        padding-bottom: 35px;
    }
    .footer-top-item {
        margin-bottom: 20px;
    }
    .footer-info span {
        font-size: 14px;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .footer-info button {
        margin-left: 0;
    }
}
@media(max-width: 600px) {
    .header-top {
        flex-direction: column;
    }
    .logo {
        margin-bottom: 20px;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-item-title, .grid-item-left, .grid-item-right {
        grid-column: 1 / 2;
    }
    .grid-item-left {
        grid-row: inherit;
        text-align: center;
    }

    .grid-item-right {
        grid-row: inherit;
        text-align: center;
    }
}
@media(max-width: 430px) {
    .header-info span, .header-info button {
        font-size: 12px;
    }
    .header-info button {
        margin-left: 15px;
    }
    .header-bottom .nav {
        font-size: 14px;
    }
    .nav > li, .header-bottom .nav > li {
        margin-left: 10px;
        margin-right: 10px;
    }
    .title {
        font-size: 30px;
    }
}